nav {
    background-color: #333;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    color: white;
    font-size: 18px;
}

dl {
    margin-top: 20px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

.styled-list {
    list-style-type: square;
    margin-top: 10px;
}

ol {
    margin-top: 20px;
}